*{
    
    box-sizing: border-box;
}

body{ background-color:rgb(139, 177, 173);
   


}

Nav{text-align: right;
background-color: grey;
padding: 60px;
font-size: large;
font-weight: 200;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

Header {background-color:black;
    font: turquoise;
    padding: 60px;
   
}
#para1 {text-align: left;
    border-left: 5px
    ;}

h1{border-left: 5px;
margin-left: 10px;
border-color: black;
border-width: 10px;
font-weight:400
;}

img {height: 200px;
width: 250px;
justify-content:left;
border: 9px solid blue;
;}


@media screen and (max-width: 992px) {
    header{ background-color: coral;
    color: black; }
}

@media screen and (max-width: 768px) {background-color}
@media screen and (max-width: 576px) {}